.bubble-container {
  max-width: 100%;
  width: auto;
  padding: 30px 15px;
  position: relative;
  .inner {
    margin: 9vh auto;
    width: 500px;
    height: 700px;
    max-height: 70vh;
    position: relative;
    .box {
      position: absolute;
      height: 300px;
      width: 300px;
      top: 10px;
      left: 0;
    }

    .bubble {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      transition: all 0.3s;
      position: relative;
    }
    .one {
      background: rgb(221, 123, 26);
      background: linear-gradient(0deg, #dd7b1a 20%, #f5ac62 62%, #f5d1ac 100%);
      top: 70px;
      left: 30px;
      z-index: 1;
    }

    .two {
      background: rgb(39, 174, 226);
      background: linear-gradient(0deg, #27aee2 20%, #9edcf4 62%, #e0f3fb 100%);
      left: 140px;
    }
    h2 {
      color: rgb(99, 95, 95);
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    h3 {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      margin-bottom: 30px;
      span {
        color: #27aee2;
      }
    }
    input {
      height: 30px;
      width: 100px;
      margin: auto 5px;
      border-radius: 5px;
      padding-left: 15px;
      padding-right: 15px;
      border: 1px solid rgb(218, 217, 217);
    }
    button {
      margin: 10px;
      text-transform: capitalize;
    }
    .input {
      display: flex;
    }
  }
}
