<div class="container">
  <div class="bubble-container">
    <div class="inner">
      <h1>Welcome to Bubbles</h1>
      <div class="container" style="height: 400px">
        <div class="box">
          <div
            class="bubble s-one"
            [style.width.px]="minSize"
            [style.height.px]="minSize"
            [class.my-auto]="m_box_auto == 'c'"
          >
            <div
              class="inner-bb one"
              [style.width.px]="left_bbl_size"
              [style.height.px]="left_bbl_size"
            >
              <h2 class="l-text">
                Consumption <span *ngIf="left_input"> {{ left_input }} KW</span>
              </h2>
              <div class="l-arrow-1"></div>
            </div>
          </div>
          <div
            class="bubble s-two"
            [style.width.px]="minSize"
            [style.height.px]="minSize"
            [class.my-auto]="m_box_auto == 'g'"
          >
            <div
              class="inner-bb two"
              [style.width.px]="right_bbl_size"
              [style.height.px]="right_bbl_size"
              [style.top.px]="m_box_auto == 'g' ? 0 : 50"
            >
              <h2 class="r-text">
                Generation <span *ngIf="right_input">{{ right_input }} KW</span>
              </h2>
              <div class="l-arrow-2"></div>
            </div>
          </div>
        </div>
      </div>
      <h3>
        {{ min }} is <span>{{ percentage }}% </span> of {{ max }}
      </h3>
      <div class="input">
        <input
          type="number"
          [(ngModel)]="left_input"
          placeholder="bubble one KW"
          name=""
          id=""
        />
        <input
          type="number"
          [(ngModel)]="right_input"
          placeholder="bubble two KW"
          name=""
          id=""
        />
        <button type="submit" (click)="toggle()">toggle sizes</button>
      </div>
    </div>
  </div>
</div>
